<div
  appAnimateOnView
  class="w-full h-full flex flex-col gap-6 rounded-xl py-6 bg-slate-900/80 border border-violet-500/30 hover:border-pink-400 transition-colors duration-500 ease-in-out backdrop-blur-sm shadow-xl shadow-violet-500/10"
>
  <div class="px-6">
    <div class="font-semibold font-mono text-violet-400 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-award w-6 h-6 mr-2"
      >
        <path
          d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"
        ></path>
        <circle cx="12" cy="8" r="6"></circle>
      </svg>
      <span>CERTIFICACIONES</span>
    </div>
  </div>

  <div class="px-6">
    <ul class="space-y-2">
      <li class="text-slate-300 flex items-start font-mono text-sm">
        <span class="text-pink-400 mr-2">▸</span>
        <a
          class="hover:underline hover:text-cyan-400"
          href="https://www.udemy.com/certificate/UC-40da907f-a1c7-477a-8832-efa2b3f6ba1b"
          target="_blank"
          >Angular Pro: Lleva tus bases al siguiente nivel</a
        >
      </li>
      <li class="text-slate-300 flex items-start font-mono text-sm">
        <span class="text-pink-400 mr-2">▸</span>
        <a
          class="hover:underline hover:text-cyan-400"
          href="https://www.udemy.com/certificate/UC-07f2130d-9f45-4e7a-8a52-aff30e698ec4"
          target="_blank"
          >Nest: Desarrollo backend escalable con Node</a
        >
      </li>
      <li class="text-slate-300 flex items-start font-mono text-sm">
        <span class="text-pink-400 mr-2">▸</span>
        <a
          class="hover:underline hover:text-cyan-400"
          href="https://www.udemy.com/certificate/UC-1a5dc8ea-692e-4f49-8636-998f7af4065c"
          target="_blank"
          >TypeScript – Fundamentos y Buenas Prácticas</a
        >
      </li>
      <li class="text-slate-300 flex items-start font-mono text-sm">
        <span class="text-pink-400 mr-2">▸</span>
        <a
          class="hover:underline hover:text-cyan-400"
          href="https://app.certika.co/certificate/MTA1MDgy"
          target="_blank"
          >Bootcamp Programación - Talento Tech</a
        >
      </li>
      <li class="text-slate-300 flex items-start font-mono text-sm">
        <span class="text-pink-400 mr-2">▸</span>
        Implementación con inteligencia artificial en feria internacional – Universidad de Pamplona
      </li>
    </ul>
  </div>
</div>
