<section id="Proyectos" class="py-20">
  <div class="max-w-[90rem] mx-auto">
    <div
      appAnimateOnView
      [threshold]="0.1"
      [rootMargin]="'-100px 0px -100px 0px'"
      class="text-center mb-16"
    >
      <h2
        class="uppercase text-2xl sm:text-3xl md:text-5xl font-bold font-mono bg-gradient-to-r from-pink-400 to-cyan-400 bg-clip-text text-transparent mb-6"
      >
        [PROYECTOS_DESTACADOS]
      </h2>
      <p class="text-violet-400 text-sm md:text-xl font-mono">
        Soluciones reales en producción
      </p>
    </div>
  </div>

  @if(!repositoriesQuery().isLoading() && repositoriesQuery().isSuccess()){
  <!--  -->
  <portfolio-list-projects
    [repos]="repositoriesQuery().data()!.repos"
  ></portfolio-list-projects>

  <!--  -->
  }@else {
  <!-- loading skeleton -->
  <div class="flex flex-wrap gap-8 justify-center">
    @for (_ of '123'; track $index) {
    <portfolio-card-project-loading></portfolio-card-project-loading>
    }
  </div>
  }

  <portfolio-pagination-projects></portfolio-pagination-projects>
</section>
