<div class="relative w-80 h-80 mx-auto">
  <div
    class="absolute inset-0 bg-linear-to-r from-violet-400/20 to-pink-400/20 rounded-full animate-spin-slow shadow-2xl shadow-violet-500/10"
  ></div>
  <div
    class="absolute inset-4 bg-linear-to-r from-pink-400/20 to-cyan-400/20 rounded-full animate-spin-slow animation-reverse"
  ></div>
  <div
    class="absolute inset-8 bg-linear-to-r from-cyan-400/20 to-violet-400/20 rounded-full animate-spin-slow"
  ></div>
  <div
    class="absolute inset-16 bg-slate-900 rounded-full border-2 border-violet-400 flex items-center justify-center shadow-2xl shadow-violet-500/25"
  >
    <div class="relative rounded-full overflow-hidden">
      <img
        class="w-full h-full object-cover"
        src="/assets/images/user/avatar.webp"
        alt=""
        loading="lazy"
        width="320"
        height="320"
      />
    </div>
  </div>

  <div
    class="absolute text-xs font-mono text-violet-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-1/2 left-[85%] -translate-1/2 animate-pulse [animation-delay:0s]"
  >
    Angular
  </div>
  <div
    class="absolute text-xs font-mono text-pink-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[74.7487%] left-[74.7487%] -translate-1/2 animate-pulse [animation-delay:0.2s]"
  >
    NestJS
  </div>
  <div
    class="absolute text-xs font-mono text-cyan-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[85%] left-[50%] -translate-1/2 transition animate-pulse [animation-delay:0.4s]"
  >
    TypeScript
  </div>
  <div
    class="absolute text-xs font-mono text-emerald-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[74.7487%] left-[25.2513%] -translate-1/2 animate-pulse [animation-delay:0.6s]"
  >
    PostgreSQL
  </div>
  <div
    class="absolute text-xs font-mono text-orange-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[50%] left-[15%] -translate-1/2 animate-pulse [animation-delay:0.8s]"
  >
    Docker
  </div>
  <div
    class="absolute text-xs font-mono text-purple-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[25.2513%] left-[25.2513%] -translate-1/2 animate-pulse [animation-delay:1s]"
  >
    Caddy
  </div>
  <div
    class="absolute text-xs font-mono text-rose-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[15%] left-[50%] -translate-1/2 animate-pulse [animation-delay:1.2s]"
  >
    CI/CD
  </div>
  <div
    class="absolute text-xs font-mono text-blue-400 bg-slate-900/90 px-3 py-1 rounded-full border border-violet-500/30 backdrop-blur-sm top-[25.2513%] left-[74.7487%] -translate-1/2 animate-pulse [animation-delay:1.4s]"
  >
    TypeORM
  </div>
</div>
