<div
  appAnimateOnView
  class="w-full h-full flex flex-col gap-6 rounded-xl py-6 bg-slate-900/80 border border-violet-500/30 hover:border-pink-400 transition-colors duration-500 ease-in-out backdrop-blur-sm shadow-xl shadow-violet-500/10"
>
  <div class="px-6">
    <div class="font-semibold font-mono text-violet-400 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-graduation-cap w-6 h-6 mr-2"
      >
        <path
          d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"
        ></path>
        <path d="M22 10v6"></path>
        <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path>
      </svg>
      <span>EDUCACIÓN</span>
    </div>
  </div>

  <div class="px-6">
    <div class="space-y-2">
      <h3 class="text-pink-400 font-mono">Ingeniería de Sistemas</h3>
      <p class="text-cyan-400 font-mono text-sm">Universidad de Pamplona</p>
      <p class="text-slate-400 font-mono text-sm">2020 - 2025</p>
      <p class="text-slate-400 font-mono text-sm">Pamplona, Norte de Santander</p>
    </div>
  </div>
</div>
