<div class="flex justify-center items-center mt-8 gap-4">
  <button
    class="inline-flex transition-colors font-mono hover:bg-violet-500/20 duration-300 text-violet-400 text-base font-medium cursor-pointer px-3 h-8 items-center justify-center rounded-md border border-violet-500/30"
    (click)="prevPage()"
    [disabled]="!hasPrev()"
    [class.opacity-50]="!hasPrev()"
    [class.cursor-none]="!hasPrev()"
  >
    Anterior
  </button>
  <button
    class="inline-flex transition-colors font-mono hover:bg-violet-500/20 duration-300 text-violet-400 text-base font-medium cursor-pointer px-3 h-8 items-center justify-center rounded-md border border-violet-500/30"
    (click)="nextPage()"
    [disabled]="!hasNext()"
    [class.opacity-50]="!hasNext()"
    [class.cursor-none]="!hasNext()"
  >
    Siguiente
  </button>
</div>
