<div class="flex flex-wrap gap-4">
  <button
    type="button"
    class="text-sm font-bold text-white font-mono transition-all duration-300 ease-in-out transform hover:scale-105 rounded-md px-4 py-2 inline-flex items-center justify-center gap-2 whitespace-nowrap bg-gradient-to-r from-violet-600 to-pink-600 shadow-lg shadow-violet-500/25 cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-mail w-5 h-5 mr-2"
    >
      <rect width="20" height="16" x="2" y="4" rx="2"></rect>
      <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
    </svg>
    <span>Contáctame</span>
  </button>
  <button
    type="button"
    class="font-bold text-cyan-400 font-mono text-sm transition-all duration-300 transform hover:scale-105 rounded-md px-4 py-2 inline-flex items-center justify-center gap-2 whitespace-nowrap cursor-pointer border border-cyan-400 hover:bg-cyan-400/20"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-download w-5 h-5 mr-2"
    >
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      <polyline points="7 10 12 15 17 10"></polyline>
      <line x1="12" x2="12" y1="15" y2="3"></line>
    </svg>
    <span class="">Descargar CV</span>
  </button>
</div>
