:host {
  display: block;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.card-actions {
  margin-top: auto;
}
