<section id="Habilidades">
  <div class="max-w-7xl mx-auto py-20">
    <div appAnimateOnView [threshold]="0.1" [rootMargin]="'-100px 0px -100px 0px'" class="text-center mb-16">
      <h2
        class="uppercase text-2xl sm:text-3xl md:text-5xl font-bold font-mono bg-gradient-to-r from-violet-400 to-pink-400 bg-clip-text text-transparent mb-6"
      >
        [Tech_stack]
      </h2>
      <p class="text-cyan-400 text-sm md:text-xl font-mono">
        Tecnologías dominadas en 2+ años
      </p>
    </div>

    <portfolio-list-skills></portfolio-list-skills>
  </div>
</section>
