<section
  class="pt-16 md:pt-16 lg:pt-0 min-h-[calc(100vh-73px)] flex items-center"
>
  <div class="max-w-7xl mx-auto w-full">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <div class="space-y-8">
        <!-- Tarjeta de consola -->
        <portfolio-card-console></portfolio-card-console>

        <!-- Título y descripción -->
        <portfolio-description></portfolio-description>

        <!-- Botones de acción -->
        <portfolio-button-description></portfolio-button-description>
      </div>

      <div>
        <!-- Animación de fondo -->
        <portfolio-user-logo></portfolio-user-logo>
        <portfolio-user-description></portfolio-user-description>
      </div>
    </div>
  </div>
</section>

<section id="Habilidades">
  <portfolio-tech-stack></portfolio-tech-stack>
</section>

<section id="Proyectos" class="py-20">
  <div class="max-w-[90rem] mx-auto">
    <div class="text-center mb-16">
      <h2
        class="uppercase text-4xl md:text-5xl font-bold font-mono bg-gradient-to-r from-pink-400 to-cyan-400 bg-clip-text text-transparent mb-6"
      >
        [PROYECTOS_DESTACADOS]
      </h2>
      <p class="text-violet-400 text-xl font-mono">
        Soluciones reales en producción
      </p>
    </div>

    @if(reposiroriesQuery.isSuccess() && !reposiroriesQuery.isLoading()){
    <portfolio-list-project
      [repos]="reposiroriesQuery.data().repos"
    ></portfolio-list-project>
    <div class="flex justify-center items-center mt-8 gap-4">
      <button
        class="inline-flex transition-colors font-mono hover:bg-violet-500/20 duration-300 text-violet-400 text-base font-medium cursor-pointer px-3 h-8 items-center justify-center rounded-md border border-violet-500/30"
        (click)="prevPage()"
        [disabled]="!reposiroriesQuery.data().pagination.hasPrev"
        [class.opacity-50]="!reposiroriesQuery.data().pagination.hasPrev"
        [class.cursor-none]="!reposiroriesQuery.data().pagination.hasPrev"
      >
        Anterior
      </button>
      <button
        class="inline-flex transition-colors font-mono hover:bg-violet-500/20 duration-300 text-violet-400 text-base font-medium cursor-pointer px-3 h-8 items-center justify-center rounded-md border border-violet-500/30"
        (click)="nextPage()"
        [disabled]="!reposiroriesQuery.data().pagination.hasNext"
        [class.opacity-50]="!reposiroriesQuery.data().pagination.hasNext"
        [class.cursor-none]="!reposiroriesQuery.data().pagination.hasNext"
      >
        Siguiente
      </button>
    </div>
    }@else {
    <!-- loading skeleton -->
    <div class="flex flex-wrap gap-8 justify-center">
      @for (_ of '123'; track $index) {
      <portfolio-card-project-loading></portfolio-card-project-loading>
      }
    </div>
    }
  </div>
</section>
