<section class="pt-16 md:pt-0 min-h-[calc(100vh-73px)] flex items-center">
  <div class="max-w-7xl mx-auto w-full">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <div class="space-y-8">
        <!-- Tarjeta de consola -->
        <portfolio-card-console></portfolio-card-console>

        <!-- Título y descripción -->
        <portfolio-description></portfolio-description>

        <!-- Botones de acción -->
        <portfolio-button-description></portfolio-button-description>
      </div>

      <div>
        <!-- Animación de fondo -->
        <portfolio-user-logo></portfolio-user-logo>

        <portfolio-user-description></portfolio-user-description>
      </div>
    </div>
  </div>
</section>

<!-- <img [src]="''" alt="" /> -->

<!-- <pre>{{ repo1 | json }}</pre> -->
