/* You can add global styles to this file, and also import other style files */
@use "./tailwind.css";

body {
  @apply bg-slate-950 text-gray-300;
}

.typewriter-cursor::after {
  content: "|";
  animation: blink 1s infinite;
  color: currentColor;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
