/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --animate-fadeIn: fadeIn 0.5s ease-out forwards;
  --animate-slideDown: slideDown 0.5s ease-out forwards;
  --animate-slideRight: slideRight 0.8s ease-out forwards;
  --animate-slideLeft: slideLeft 0.8s ease-out forwards;
  --animate-slideUp: slideUp 0.8s ease-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-24px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(24px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(-24px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(24px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }
  .animate-slideDown {
    animation: slideDown 0.5s ease-out forwards;
  }
  .animate-slideRight {
    animation: slideRight 0.8s ease-out forwards;
  }
  .animate-slideLeft {
    animation: slideLeft 0.8s ease-out forwards;
  }
  .animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
  }

  .pre-fadeIn {
    opacity: 0;
  }
  .pre-slideRight {
    opacity: 0;
    transform: translateX(-24px);
  }
  .pre-slideLeft {
    opacity: 0;
    transform: translateX(24px);
  }
  .pre-slideDown {
    opacity: 0;
    transform: translateY(-24px);
  }
  .pre-slideUp {
    opacity: 0;
    transform: translateY(24px);
  }
}

.typewriter-cursor::after {
  content: '|';
  animation: blink 1s infinite;
  color: currentColor;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
